<div id="banner-coursera">
	<a target='new' href="https://click.linksynergy.com/fs-bin/click?id=tRsBhH5RuWs&offerid=467035.416&subid=0&type=4">
		<IMG border="0" alt="Deep Learning Specialization on Coursera" src="https://ad.linksynergy.com/fs-bin/show?id=tRsBhH5RuWs&bids=467035.416&subid=0&type=4&gridnum=1">
	</a>
</div>

<div itemscope itemtype="https://schema.org/NewsArticle">
	<meta itemscope itemprop="mainEntityOfPage" itemType="https://schema.org/WebPage" itemid="https://nodeontrain.xyz" content="" />
	<meta itemprop="headline" content="Node on Train Tutorial" />
	<div itemprop="author" itemscope itemtype="https://schema.org/Person">
		<meta itemprop="name" content="Dang Thanh" />
	</div>
	<meta itemprop="description" content="Node on Train Tutorial" />

	<div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
		<meta itemprop="url" content="https://pbs.twimg.com/profile_images/691445187671826432/Su2ZsN9X.png">
		<meta itemprop="width" content="512">
		<meta itemprop="height" content="512">
	</div>

	<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
		<div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
			<meta itemprop="url" content="https://pbs.twimg.com/profile_images/691445187671826432/Su2ZsN9X.png">
			<meta itemprop="width" content="512">
			<meta itemprop="height" content="512">
		</div>
		<meta itemprop="name" content="Google">
	</div>
	<meta itemprop="datePublished" content="2013-03-17T08:00:00+08:00" />
	<meta itemprop="dateModified" content="2013-03-17T08:00:00+08:00" />
</div>


<header>
	<nav class="mobile-nav show-on-mobiles">
		{% include primary-nav-items.html %}
	</nav>
	<div class="grid">
		<div class="unit one-third center-on-mobiles">
			<h1>
				<a href="{{ site.url }}/">
					<span>Node on train</span>
					<img src="{{ site.url }}/img/logo-2x.png" width="226" height="130" alt="trainjs logo">
				</a>
			</h1>
		</div>
		<nav class="main-nav unit two-thirds hide-on-mobiles">
			{% include primary-nav-items.html %}
		</nav>
	</div>
</header>
