<!DOCTYPE HTML>
<html lang="en-US">

<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="description" content="{{ page.title }}, Node On Train is a great tool for Full Stack Developer.">

	<meta property="og:title" content="Node On Train">
	<meta property="og:type" content="article">
	<meta property="og:url" content="https://www.nodeontrain.xyz">
	<meta property="og:image" content="https://scontent-hkg3-1.xx.fbcdn.net/hphotos-xlp1/v/t1.0-9/12572972_493787607467560_150638186058084035_n.png?oh=1f0b7dcd97619f61a9f927c5cd98362b&oe=5730A1B9">

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@trainjs" />
	<meta name="twitter:title" content="Node on Train Tutorial" />
	<meta name="twitter:description" content="The web's scaffolding tool for Full Stack Developer.">

	<link rel="publisher" href="https://plus.google.com/104992415340165278447">

	<link rel="canonical" href="{{ site.url }}{{ page.url }}" />

	<link rel="icon" type="image/x-icon" href="{{ site.url }}/favicon.png" />
<!--	<link rel="stylesheet" href="{{ site.url }}/css/style.css" />-->
<!--	<link rel="stylesheet" href="{{ site.url }}/css/syntax.css" />-->
	<script async src="{{ site.url }}/js/modernizr-2.5.3.min.js"></script>
	{% include analytics.html %}

	<script type="application/ld+json">
	{
		"@context" : "https://schema.org",
		"@type" : "Organization",
		"name" : "Node On Train",
		"url" : "https://nodeontrain.xyz",
		"sameAs" : [
			"https://twitter.com/trainjs",
			"https://plus.google.com/104992415340165278447",
			"https://www.facebook.com/trainjs"
		]
	}
	</script>

</head>
