<div class="unit one-fifth hide-on-mobiles">
	<aside>
		<h4>Getting Started</h4>
		<ul>
			<li class="{% if page.title == " Welcome " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/home">Welcome</a>
			</li>
			<li class="{% if page.title == " Installation " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/installation">Installation</a>
			</li>
			<li class="{% if page.title == " Basic Usage " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/usage">Basic Usage</a>
			</li>
			<li class="{% if page.title == " Directory structure " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/structure">Directory structure</a>
			</li>
		</ul>
		<h4>A Demo App</h4>
		<ul>
			<li class="{% if page.title == " Planning the application " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/planning_app">Planning the application</a>
			</li>
			<li class="{% if page.title == " The Users resource " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/users_resource">The Users resource</a>
			</li>
			<li class="{% if page.title == " The Microposts resource " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/microposts_resource">The Microposts resource</a>
			</li>
		</ul>
		<h4>Mostly static pages</h4>
		<ul>
			<li class="{% if page.title == " Static pages " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/static_pages">Static pages</a>
			</li>
			<li class="{% if page.title == " Testing " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/first_testing">Testing</a>
			</li>
			<li class="{% if page.title == " Dynamic pages " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/dynamic_pages">Dynamic pages</a>
			</li>
		</ul>
		<h4>Filling in the layout</h4>
		<ul>
			<li class="{% if page.title == " Adding some structure " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/some_structure">Adding some structure</a>
			</li>
			<li class="{% if page.title == " Layout links " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/layout_links">Layout links</a>
			</li>
			<li class="{% if page.title == " User signup - A first step " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/user_signup_first_step">User signup - A first step</a>
			</li>
		</ul>
		<h4>Modeling users</h4>
		<ul>
			<li class="{% if page.title == " User model " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/user_model">User model</a>
			</li>
			<li class="{% if page.title == " User validations " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/user_validations">User validations</a>
			</li>
			<li class="{% if page.title == " A secure password " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/secure_password">A secure password</a>
			</li>
		</ul>
		<h4>Sign up</h4>
		<ul>
			<li class="{% if page.title == " Showing users " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/showing_users">Showing users</a>
			</li>
			<li class="{% if page.title == " Signup form " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/signup_form">Signup form</a>
			</li>
			<li class="{% if page.title == " Unsuccessful signups " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/unsuccessful_signups">Unsuccessful signups</a>
			</li>
			<li class="{% if page.title == " Successful signups " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/successful_signups">Successful signups</a>
			</li>
		</ul>
		<h4>Log in & Log out</h4>
		<ul>
			<li class="{% if page.title == " Sessions " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/sessions">Sessions</a>
			</li>
			<li class="{% if page.title == " Logging in " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/logging_in">Logging in</a>
			</li>
			<li class="{% if page.title == " Logging out " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/logging_out">Logging out</a>
			</li>
			<li class="{% if page.title == " Remember me " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/remember_me">Remember me</a>
			</li>
		</ul>
		<h4>Updating, showing & deleting users</h4>
		<ul>
			<li class="{% if page.title == " Updating users " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/updating_users">Updating users</a>
			</li>
			<li class="{% if page.title == " Authorization " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/authorization">Authorization</a>
			</li>
			<li class="{% if page.title == " Showing all users " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/showing_all_users">Showing all users</a>
			</li>
			<li class="{% if page.title == " Deleting users " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/deleting_users">Deleting users</a>
			</li>
		</ul>
		<h4>Account activation & password reset</h4>
		<ul>
			<li class="{% if page.title == " Account activation " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/account_activation">Account activation</a>
			</li>
			<li class="{% if page.title == " Password reset " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/password_reset">Password reset</a>
			</li>
			<li class="{% if page.title == " Email in production " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/email_in_production">Email in production</a>
			</li>
		</ul>
		<h4>User microposts</h4>
		<ul>
			<li class="{% if page.title == " A Micropost model " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/micropost_model">A Micropost model</a>
			</li>
			<li class="{% if page.title == " Showing microposts " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/showing_microposts">Showing microposts</a>
			</li>
			<li class="{% if page.title == " Manipulating microposts " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/manipulating_microposts">Manipulating microposts</a>
			</li>
			<li class="{% if page.title == " Micropost images " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/micropost_images">Micropost images</a>
			</li>
		</ul>
		<h4>Following users</h4>
		<ul>
			<li class="{% if page.title == " The Relationship model " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/relationship_model">The Relationship model</a>
			</li>
			<li class="{% if page.title == " A web interface " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/web_interface">A web interface</a>
			</li>
			<li class="{% if page.title == " The status feed " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/status_feed">The status feed</a>
			</li>
		</ul>
		<h4>Meta</h4>
		<ul>
			<li class="{% if page.title == " History " %}current{% endif %}">
				<a href="{{ site.url }}/tuts/history">History</a>
			</li>
		</ul>
	</aside>
</div>
