<div class="tuts-nav-mobile unit whole show-on-mobiles">
	<select onchange="if (this.value) window.location.href=this.value">
		<option value="">Navigate the tuts…</option>
		<optgroup label="Getting started">
			<option value="{{ site.url }}/tuts/home">Welcome</option>
			<option value="{{ site.url }}/tuts/installation">Installation</option>
			<option value="{{ site.url }}/tuts/usage">Basic Usage</option>
			<option value="{{ site.url }}/tuts/structure">Directory structure</option>
		</optgroup>
		<optgroup label="A Demo App">
			<option value="{{ site.url }}/tuts/planning_app">Planning the application</option>
			<option value="{{ site.url }}/tuts/users_resource">The Users resource</option>
			<option value="{{ site.url }}/tuts/microposts_resource">The Microposts resource</option>
		</optgroup>
		<optgroup label="Mostly static pages">
			<option value="{{ site.url }}/tuts/static_pages">Static pages</option>
			<option value="{{ site.url }}/tuts/first_testing">Testing</option>
			<option value="{{ site.url }}/tuts/dynamic_pages">Dynamic pages</option>
		</optgroup>
		<optgroup label="Filling in the layout">
			<option value="{{ site.url }}/tuts/some_structure">Adding some structure</option>
			<option value="{{ site.url }}/tuts/layout_links">Layout links</option>
			<option value="{{ site.url }}/tuts/user_signup_first_step">User signup - A first step</option>
		</optgroup>
		<optgroup label="Modeling users">
			<option value="{{ site.url }}/tuts/user_model">User model</option>
			<option value="{{ site.url }}/tuts/user_validations">User validations</option>
			<option value="{{ site.url }}/tuts/secure_password">A secure password</option>
		</optgroup>
		<optgroup label="Sign up">
			<option value="{{ site.url }}/tuts/showing_users">Showing users</option>
			<option value="{{ site.url }}/tuts/signup_form">Signup form</option>
			<option value="{{ site.url }}/tuts/unsuccessful_signups">Unsuccessful signups</option>
			<option value="{{ site.url }}/tuts/successful_signups">Successful signups</option>
		</optgroup>
		<optgroup label="Log in & Log out">
			<option value="{{ site.url }}/tuts/sessions">Sessions</option>
			<option value="{{ site.url }}/tuts/logging_in">Logging in</option>
			<option value="{{ site.url }}/tuts/logging_out">Logging out</option>
			<option value="{{ site.url }}/tuts/remember_me">Remember me</option>
		</optgroup>
		<optgroup label="Updating, showing & deleting users">
			<option value="{{ site.url }}/tuts/updating_users">Updating users</option>
			<option value="{{ site.url }}/tuts/authorization">Authorization</option>
			<option value="{{ site.url }}/tuts/showing_all_users">Showing all users</option>
			<option value="{{ site.url }}/tuts/deleting_users">Deleting users</option>
		</optgroup>
		<optgroup label="Account activation & password reset">
			<option value="{{ site.url }}/tuts/account_activation">Account activation</option>
			<option value="{{ site.url }}/tuts/password_reset">Password reset</option>
		</optgroup>
		<optgroup label="User microposts">
			<option value="{{ site.url }}/tuts/micropost_model">A Micropost model</option>
			<option value="{{ site.url }}/tuts/showing_microposts">Showing microposts</option>
			<option value="{{ site.url }}/tuts/manipulating_microposts">Manipulating microposts</option>
			<option value="{{ site.url }}/tuts/micropost_images">Micropost images</option>
		</optgroup>
		<optgroup label="Following users">
			<option value="{{ site.url }}/tuts/relationship_model">The Relationship model</option>
			<option value="{{ site.url }}/tuts/web_interface">A web interface</option>
			<option value="{{ site.url }}/tuts/status_feed">The status feed</option>
		</optgroup>
		<optgroup label="Meta">
			<option value="{{ site.url }}/tuts/history">History</option>
		</optgroup>
	</select>
</div>
